# mac os x
.DS_Store
.R*
# related to files
.pybiomart.sqlite
downloads/
input/
logs/
params*
resources*
output*
target/
out/
local/
datasets_raw/
state*
trace*
tw*
base_folder/*
datasets/*
prior/*
tmp/*   

# related to python
.ipynb_checkpoints
__pycache__/

# ?
.$*
bin*
bin/

# related to nextflow
work
.nextflow*

# IDE related
.idea
.vscode
